/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cursor{
    cursor:pointer
  }
.red {
    color: rgb(209, 14, 14);
  }

.green{
    color:green
 }
.align-header{
    display: flex;
    justify-content: space-between;
    width:100%
  }
