<div>
  <span class="align-header">
    <h1 mat-dialog-title>
      Add a New Column
    </h1>
    <mat-icon aria-label="Close" (click)="onClose()" class="cursor" matTooltip="Cancel">close
    </mat-icon>
  </span>


  <div mat-dialog-content>
    <mat-form-field>
      <input placeholder="Column Name" matInput [(ngModel)]="data.columnName">
    </mat-form-field><br>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="green" [mat-dialog-close]="data">Submit</button>

  </div>
</div>